button {
  font-family: "Zen Kurenaido", sans-serif;
}

.button_openModal {
  width: 25%;
  background-color: #122e5ca1;
  color: #ffffff;
}

.mainPage_button {
  width: 200px;
  font-size: 22px;
  border: 5px solid #0b172aa1;
  background-color: #bc4223d5;
  color: #0b172a;
}

.mainPage_button:active {
  border: 5px solid #0b172ad8;
  background-color: #bc4123;
}

.button_close {
  position: fixed;
  top: 0;
  right: 1%;
  font-size: 35px;
  border: 0 transparent;
  color: #ff0000;
  background-color: transparent;
}

.button_close:hover {
  color: #d40000;
}

.button_add {
  border: 0 transparent;
  font-size: 25px;
  color: #ffffff;
  background-color: transparent;
}

.button_add:hover {
  color: #aca2a2;
}
