button {
  font-family: "Zen Kurenaido", sans-serif;
}

.button_openModal {
  width: 70px;
  height: 70px;
  background-color: black;
  color: blanchedalmond;
  font-size: 35px;
}

.button_module {
  width: 70px;
  height: 70px;
  background-color: rgb(158, 34, 34);
  color: blanchedalmond;
  font-size: 65px;
}

.mainPage_button {
  width: 200px;
  font-size: 22px;
  border: 5px solid #0b172aa1;
  background-color: #bc4223d5;
  color: #0b172a;
}

.mainPage_button:active {
  border: 5px solid #0b172ad8;
  background-color: #bc4123;
}

.button_close {
  border: transparent;
  border-color: #ffffff;
  position: fixed;
  top: 5px;
  right: 5px;
}
