.modal {
  height: 100vh;
  width: 100vw;
  background-color: #00000067;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  width: 40%;
  height: 25%;
  padding: 1% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #122e5ca1;
  color: #ffffff;
  border: 2px solid white;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.modal_title {
  font-size: 25px;
}
