.app {
  font-family: "Zen Kurenaido", sans-serif;
  height: 100vh;
  background: linear-gradient(1deg, #203047, #2030476c),
    url("https://source.unsplash.com/1600x900/?money") no-repeat center/cover;
}
